html, body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        font-size: 0.75rem;
        position: absolute;
        right: 0;
        font-family: sans-serif;
    }

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        top: -10px;
    }

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}


.container_content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.img-product {
    width: 200px;
    height: 200px;
}
.img-fluid-ver2 {
    border-radius: 30px;
}


.item-product {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.item-product-details{
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.item-product:hover {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.55);
}

.item-product:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.overlay-new {
    background: url(overlay/new-icon.png) no-repeat;
    left: auto;
    right: 0;
}

.overlay-promotion {
    background: url(overlay/promo-icon.png) no-repeat;
    left: auto;
    right: 0;
}

.overlay-bestseller {
    background: url(overlay/bestseller-icon.png) no-repeat;
    left: auto;
    right: 0;
}

.product-img-wrapper {
    position: relative;
    height: 200px;
}

    .product-img-wrapper div {
        background: rgba(0,0,0,0.35);
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }

.item-product:hover > .product-img-wrapper > div {
    display: block;
}


.product-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 15px;
}

.product-img-wrapper-auto {
    position: relative;
    height: auto;
}


    .product-img-wrapper-auto div {
        background: rgba(0,0,0,0.35);
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }

.item-product:hover > .product-img-wrapper-auto > div {
    display: block;
}


.product-img-wrapper-auto div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 15px;
}
.item-product .btn:hover {
    background: rgba(47, 156, 220, 0.84);
    border-color: #c8c8c8;
}

.item-product h3 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
}
.item-product-details h3 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
}
.item-product h3 a {
    color: #3e4d5c;
    text-decoration: none;
}
.item-product-details h3 a {
    color: #3e4d5c;
    text-decoration: none;
}
.item-product h4 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 4px;
}
.item-product-details h4 {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 4px;
}
.item-product h4 a {
    color: #3e4d5c;
    text-decoration: none;
}

.item-product-details h4 a {
    color: #3e4d5c;
    text-decoration: none;
}
.product-price {
    color: black;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}

.item-product .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
}
.item-product-details .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
}
.item-product .add2cart:hover {
    color: #fff;
    background: rgba(47, 156, 220, 0.84);
    border-color: rgba(47, 156, 220, 0.84);
}
.item-product-details .add2cartver2 {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    letter-spacing: 3px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.item-product .add2cartver2:hover {
    color: #fff;
    background: rgba(47, 156, 220, 0.84);
    border-color: rgba(47, 156, 220, 0.84);
}
.item-product-details .add2cartver2:hover {
    color: #fff;
    background: rgba(47, 156, 220, 0.84);
    border-color: rgba(47, 156, 220, 0.84);
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.divmarginauto{
    margin: auto;
}



/*slick promotion content*/
* {
    box-sizing: border-box;
}

.slider {
    width: 70%;
    margin: 60px auto;
}

.slick-slide {
    margin: 0px 20px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}


/*newsletter section*/
.intro-header {
    color: #f8f8f8;
    text-align: center;
    margin-top: 10px;
    margin-top: 40px;
}

.container-neswletter {
    background-color: #3e4d5c;
    width: 100%;
    padding-top: 20px;
}

.custom-tab-content {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.newsletterbtn {
    margin-top: 20px;
    margin-bottom: 25px;
}

#email {
    text-align: center;
}


/*footer*/
footer {
    background-color: #353c42;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}


/*div menu*/
.menu-horizontal ul li {
    margin: 2px 0px 2px 0px;
    display: inline-block;
    width: 250px;
    height: 54px;
    text-align: left;
    border: 1px solid #c8c8c8;
    line-height: 52px;
}

    .menu-horizontal ul li a {
        width: 100%;
        display: block;
        height: 100%;
        padding-left: 125px;
        background-repeat: no-repeat;
        background-position-x: 50px;
        background-position-y: 50%;
    }

    .menu-horizontal ul li:hover {
        -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.35);
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.35);
        box-shadow: inset 0 0 3px rgba(0,0,0,0.35);
    }

    .menu-horizontal ul li a:link {
        color: black;
        text-decoration: none;
    }

.jumbotron-index {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

/*index view - title background*/
.con-newproduct {
    background-color: #f68317;
    color: white;
    border-radius: 20px;
    letter-spacing: 8px;
    padding-top: 2px;
    margin-top: 5px;
}

.con-bestseller {
    background-color: #119a9a;
    color: white;
    border-radius: 20px;
    letter-spacing: 8px;
    padding-top: 2px;
    margin-top: 5px;
}

.con-promotion {
    background-color: #b33c3c;
    color: white;
    border-radius: 20px;
    letter-spacing: 8px;
    padding-top: 2px;
    margin-top: 5px;
}

.margintopsmall {
    margin-top: 60px;
}



/*Footer options*/
#wrapper {
    width: auto;
    min-height: calc(100% - 205px);
}



/*cost view*/

.costlist {
    list-style-type: none;
    border: 1px solid #c8c8c8;
    padding: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0;
}

.touchget {
    padding: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0;
    position: relative;
}

    .touchget:hover {
        -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.55);
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.55);
        margin-top: -5px;
    }

.costlist .title {
    font-size: 23px;
    background-color: #353c42;
    color: white;
}

.costlist .title-unique {
    font-size: 23px;
    background-color: rgba(47, 156, 220, 0.84);
    color: white;
}

.costlist li {
    border-bottom: 1px solid #c8c8c8;
    padding: 22px;
    text-align: center;
}

.costlist .undertitle {
    font-size: 20px;
    background-color: #353c42;
    color: white;
}

.costlist .description {
    font-size: 20px;
    background-color: #c8c8c8;
    color: white;
}

.costlist .undertitle-unique {
    font-size: 20px;
    background-color: rgba(47, 156, 220, 0.84);
    color: white;
}

.overlaycostlist {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.overlaycostlist-best {
    background: url(overlay/thebest.png) no-repeat;
    left: auto;
    right: 0;
}

/*View Onas(about us)*/
.w-100 {
    width: 100% !important;
    max-height: 300px;
}


/*abous us - view*/
.radius_carousel {
    border-radius: 0px 0px 20px 20px;
}

.carousel_block {
    background-color: rgba(33, 23, 33, 0.36);
    width: 340px;
    margin: auto;
    padding: 5px 10px 0px 5px;
    border-color: grey;
    border-style: solid;
    border-radius: 8px;
}

.img_media_employer {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: auto;
}


/*Contact View (kontakt view)*/
#contact {
    background-color: #ededed;
}

    #contact .well {
        margin-top: 30px;
        border-radius: 0;
    }

    #contact .form-control {
        border-radius: 0;
        border: 2px solid black;
    }

    #contact button {
        border-radius: 0;
        border: 2px solid black;
    }

    #contact .row {
        margin-bottom: 30px;
    }

@media (max-width: 768px) {
    #contact iframe {
        margin-bottom: 15px;
    }
}

.contact-title {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    padding-left: 10px;
}

.list_nondecorations li {
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

.list_decorations li {
    list-style: disc;
    text-align: left;
}

@media (min-width: 990px) {
    .borderinrow {
        border-style: solid;
        border-top: 1px;
        border-bottom: 1px;
    }
}

@media (max-width: 990px) {
    .borderinrow {
        border-style: none;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}

.menu-horizontal ul li a:visited {
    color: black;
    text-decoration: none;
}




#search-form {
    margin-top: 20px;
    position: relative;
    padding-left: 20px;
    border-left: 1px solid #e9ecef;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    margin-left: auto;
    margin-right: auto;
}

#search-form input[type=search] {
    border: none;
    height: 18px;
    width: 230px;
}


/*cart css style*/
.img-cart {
    height: 150px;
    width: 150px;
    border-radius: 30px;
}

/*Login view*/

.TextBoxForLogin {
    width: 270px;
}