
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="carouselExampleIndicators" class="carousel slide container_content" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner radius_carousel">
        <div class="carousel-item active">
            <img class="d-block w-100" src="@Url.Content("~/Content/AboutSlider/pexels-photo-145465.jpeg")" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <div class="carousel_block">
                    <h5>Magazyny</h5>
                    <p>Posiadamy własne magazyny wysyłkowe</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="@Url.Content("~/Content/AboutSlider/pexels-photo-356830.jpeg")" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <div class="carousel_block">
                    <h5>Biura</h5>
                    <p>Znajdziesz nas w każdym większym mieście</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="@Url.Content("~/Content/AboutSlider/pexels-photo-417382.jpeg")" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <div class="carousel_block">
                    <h5>Innowacja</h5>
                    <p>Oferujemy nowe i wyśmienite produkty</p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<h2 class="text-center" style="margin-top:20px;">O nas</h2>
<h3 class="text-center">Garść informacji o naszej firmie</h3>
<div class="row container_content">

    <ol>
        <li>
            Dane na temat firmy:
            <ul>
                <li>
                    Adres siedziby: ul. Sokolska 309 New York, ul. Fińska 33B Chicago, ul. Bemowofilca 941C Warszawa 
                </li>
                <li>
                    Ilość zatrudnionych osób: 409
                </li>
            </ul>
        </li>
        <li>
            Wysyłka
            <ol>
                <li>Jest to wersja demonstracyjna strony internetowej – nie są wysyłane żadne zakupione przedmioty.</li>
                <li>Przysyłka zawsze jest nierealizowana</li>
                <li>Reklamacje na temat wysyłki nie są rozpatrywane, ponieważ strona nie prowadzi sprzedaży oraz wysyłki towaru.</li>
                <li>Sklep nie odpowiada za firmę kurierską, bo i tak z żadnej nie korzysta (Jest to wersja demonstracyjna sklepu).</li>
                <li>Dane osobowe wpisane w formularzach wysyłki w ramach testowania strony - należy wpisywać nieprawdziwe, zmyślone. Nigdy nie wolno wpisywać danych prawdziwych wskazujących na możliwość rozpoznania danej osoby. Należy unikać wpisywania danych prawdziwych, które należą do "RODO" - czyt. dane osobowe (Dane prawdziwe jak: imię, nazwisko, nr. tel., adres zamieszkania/dostawy itd.)</li>
            </ol>
        </li>
        <li>
            Płatność
            <ol>
                <li>Nie wolno wykonywać płatności - ponieważ konto podane do przelewów jest kontem testowym - wymyślonym.</li>
                <li>Nie ma możliwości otrzymania zwrotu płatności - numer konta został wymyślony</li>
                <li>Jedyną reklamację - zatrzymanie przelewu, można kierować do własnego banku</li>
            </ol>
        </li>
        <li>
            Reklamacje
            <ol>
                <li>Reklamacje nie są rozpatrywane, ponieważ jest to strona demonstracyjna - nie prowadząca sprzedaży ani wysyłki</li>
            </ol>
        </li>
        <li>
            Dane osobowe
            <ol>
                <li>Dane osobowe wpisane w formularzach wysyłki jak i rejestracji w ramach testowania strony - należy wpisywać nieprawdziwe, zmyślone. Nigdy nie wolno wpisywać danych prawdziwych wskazujących na możliwość rozpoznania danej osoby. Należy unikać wpisywania danych prawdziwych, które należą do "RODO" - czyt. dane osobowe (Dane prawdziwe jak: imię, nazwisko, nr. tel., adres zamieszkania/dostawy itd.)</li>
                <li>W przypadku wystąpienia chęci usunięcia własnych wpisanych danych w stronie demonstracyjnej, należy zgłosić to na adres email: michal.dwojak92@gmail.com lub michal.mdwojak.pl. </li>
            </ol>
        </li>
    </ol>
</div>
