
@{
    ViewBag.Title = "Regulamin sklepu demonstracyjnego";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center" style="margin-top:20px;">Regulamin</h2>
<h3 class="text-center">Sklepu demonstracyjengo MD Shop</h3>
<div class="row container_content">

    <ol>
        <li>
            Podstawowe informacje na temat sklepu
            <ol>
                <li>
                    Sklep internetowy nie wysyła żadnego towaru – jest to strona demonstracyjna.
                </li>
                <li>
                    Wszystkie dane dotyczące płatności, są danymi testowymi – poglądowymi.
                </li>
                <li>
                    Nie ma możliwości otrzymania towaru ani zwrotu pieniędzy – ponieważ przelewy realizowane są z wymyślonego przykładowego numeru bankowego, który nie należy do autora strony.
                </li>
                <li>
                    Wszelkie błędy znalezione w funkcjonowaniu sklepu w wersji demonstracyjnej proszę kierować na adres: michal.dwojak92@gmail.com lub michal@mdwojak.pl.
                </li>
            </ol>
        </li>
        <li>
            Wysyłka
            <ol>
                <li>Jest to wersja demonstracyjna strony internetowej – nie są wysyłane żadne zakupione przedmioty.</li>
                <li>Przysyłka zawsze jest nierealizowana</li>
                <li>Reklamacje na temat wysyłki nie są rozpatrywane, ponieważ strona nie prowadzi sprzedaży oraz wysyłki towaru.</li>
                <li>Sklep nie odpowiada za firmę kurierską, bo i tak z żadnej nie korzysta (Jest to wersja demonstracyjna sklepu).</li>
                <li>Dane osobowe wpisane w formularzach wysyłki w ramach testowania strony - należy wpisywać nieprawdziwe, zmyślone. Nigdy nie wolno wpisywać danych prawdziwych wskazujących na możliwość rozpoznania danej osoby. Należy unikać wpisywania danych prawdziwych, które należą do "RODO" - czyt. dane osobowe (Dane prawdziwe jak: imię, nazwisko, nr. tel., adres zamieszkania/dostawy itd.)</li>
            </ol>
        </li>
        <li>
            Płatność
            <ol>
                <li>Nie wolno wykonywać płatności - ponieważ konto podane do przelewów jest kontem testowym - wymyślonym.</li>
                <li>Nie ma możliwości otrzymania zwrotu płatności - numer konta został wymyślony</li>
                <li>Jedyną reklamację - zatrzymanie przelewu, można kierować do własnego banku</li>
            </ol>
        </li>
        <li>
            Reklamacje
            <ol>
                <li>Reklamacje nie są rozpatrywane, ponieważ jest to strona demonstracyjna - nie prowadząca sprzedaży ani wysyłki</li>
            </ol>
        </li>
        <li>
            Dane osobowe
            <ol>
                <li>Dane osobowe wpisane w formularzach wysyłki jak i rejestracji w ramach testowania strony - należy wpisywać nieprawdziwe, zmyślone. Nigdy nie wolno wpisywać danych prawdziwych wskazujących na możliwość rozpoznania danej osoby. Należy unikać wpisywania danych prawdziwych, które należą do "RODO" - czyt. dane osobowe (Dane prawdziwe jak: imię, nazwisko, nr. tel., adres zamieszkania/dostawy itd.)</li>
                <li>W przypadku wystąpienia chęci usunięcia własnych wpisanych danych w stronie demonstracyjnej, należy zgłosić to na adres email: michal.dwojak92@gmail.com lub michal.mdwojak.pl. </li>
            </ol>
        </li>
    </ol>
</div>

