
@{
    ViewBag.Title = "Wysylka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="text-center" style="margin-top:20px;">Koszty wysyłki paczek</h2>
<p class="text-center">Zapoznaj się z naszymi świetnymi cenami</p>

<div class="row container_content">
    <div class="col-md-4 col-12 col-sm-6" style="margin-bottom:30px">
        <div class="touchget">
            <ul class="costlist">
                <li class="title">Mała paczka</li>
                <li class="undertitle">15.99 zł</li>
                <li class="description">Do 2 produtków</li>
                <li>Ubezpieczenie przesyłki do: 200 zł</li>
                <li>Dostawa kurierem: oneTranz</li>
                <li>Losowe godziny odbioru</li>
                <li>Gabaryt max: 30x30 cm</li>
                <li>Niemożliwa zmiana celu dostawy</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-12 col-sm-6" style="margin-bottom:30px">
        <div class="touchget">
            <ul class="costlist">
                <li class="title">Średnia paczka</li>
                <li class="undertitle">24.99 zł</li>
                <li class="description">Do 6 produktów</li>
                <li>Ubezpieczenie przesyłki do: 1 000 zł</li>
                <li>Dostawa kurierem: oneTranz</li>
                <li>Losowe godziny odbioru</li>
                <li>Gabaryt max: 60x60 cm</li>
                <li>Niemożliwa zmiana celu dostawy</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-12 col-sm-6" style="margin-bottom:30px">
        <div class="touchget">
            <ul class="costlist">
                <li class="title-unique">Duża paczka</li>
                <li class="undertitle-unique">Tylko 25.99 zł!</li>
                <li class="description">Każda ilość!</li>
                <li>Ubezpieczenie przesyłki do: 30 000 zł</li>
                <li>Dostawa kurierem: oneTranz Plus</li>
                <li>Kurier kontaktuje się</li>
                <li>Gabaryt max: 120x120 cm</li>
                <li>Możliwia zmiana celu dostawy</li>
            </ul>
            <div class="overlaycostlist overlaycostlist-best"> </div>
        </div>
    </div>
</div>
