
@{
    ViewBag.Title = "PaymentError";
    Layout = "~/Views/Shared/_UnderLayoutWithMain.cshtml";
}

<div class="row container_content" style="padding-top:50px;
    padding-bottom: 20px;">
    <h1 style="margin:auto; padding-bottom: 20px;">Podsumowanie</h1>
    <div class="col-md-12 col-12 col-sm-12" style="margin-top: 30px;">

        <h1 style="margin:auto; text-align: center;">Ups... Coś poszło nie tak, spróbuj zapłacić później</h1>
        <h3 style="margin:auto; padding-top: 50px; padding-bottom: 50px; text-align: center;">Paczka nie została opłacona</h3>
        <h4 style="margin:auto; padding-bottom: 50px; text-align: center;">Dziękujemy za dokonanie z naszych usług</h4>


    </div>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



