
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_UnderLayoutWithMain.cshtml";
}

<div class="row container_content" style="padding-top:50px; 
    padding-bottom: 20px;">
    <h1 style="margin:auto; padding-bottom: 20px;">Podsumowanie</h1>
    <div class="col-md-12 col-12 col-sm-12" style="margin-top: 30px;">

        <h1 style="margin:auto; text-align: center;">Płatność przebiegła pomyślnie!</h1>
        <h3 style="margin:auto; padding-top: 50px; padding-bottom: 50px; text-align: center;">Paczkę wyślemy niebawem (nigdy)</h3>
        <h4 style="margin:auto; padding-bottom: 50px; text-align: center;">Dziękujemy za dokonanie zakupów.</h4>


    </div>



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


